.box {
	background-color: #fff;
	border-radius: 3px;
	min-height: 80px;
	padding: 20px;
	&.box-shadow {
		box-shadow: 0 5px 16px -10px rgba(0,0,0,0.5);
	}
	.box-head {
		border-bottom: 1px solid #ddd;
		margin-bottom: 20px;
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px 10px 20px;
	}
}