.btn {
	font-size: 14px;
	&.btn-md {
		min-width: 130px;
	}
	&.btn-shadow {
		box-shadow: 0 5px 16px -10px rgba(0,0,0,0.5);
	}
}

.btn-base {
	background-color: $primary_color;
	color: #FFFFFF;
	&:hover,
	&:focus {
		background-color: #7e6ba8;
		color: #FFFFFF;
	}
}

.btn-rounded {
	border-radius: 28px;
	padding: .25rem 1.5rem;
	line-height: 27px;
}