.btn {
	font-size: 14px;
	&.btn-md {
		min-width: 100px;
	}
	&.btn-shadow {
		box-shadow: 0 5px 16px -10px rgba(0,0,0,0.5);
	}
}

.btn-base {
	background-color: $primary_color;
	color: #fff;
	&:hover,
	&:focus {
		background-color: #6f35d6;
		color: #fff;
	}
}

.btn-outline-base {
	background-color: #fff;
	border-color: $primary_color;
	color: $primary_color;
	&:hover,
	&:focus {
		background-color: $primary_color;
		color: #fff;
	}
}

.btn-rounded {
	border-radius: 28px;
	padding: .25rem 1.5rem;
	line-height: 27px;
}