.navbar-white {
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(43,43,43,.24);
	min-height: 70px;
	padding-left: 0;
	padding-right: 0;
	.nav-item {
		.nav-link {
		}
	}
}

.navbar-brand {
	color: $primary_color !important;
	font-size: 25px;
}

.navbar__logo {
	height: 25px;
}