@import "../../styles/bases/_variables.scss";

.bg-gradient {
	background: #DA22FF;
	background: -webkit-linear-gradient(to top, rgba(125, 46, 194, 0.8), rgba(179, 28, 209, 0.8)), url('../../assets/images/background/headway.jpg');
	background: linear-gradient(to top, rgba(125, 46, 194, 0.8), rgba(179, 28, 209, 0.8)), url('../../assets/images/background/headway.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.auth-container {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
}

.auth-content {
	width: 80%;
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (max-width: $breakpoint-mobile) {
	.auth-content {
		width: 100%;
	}
	.container-fluid {
		height: auto !important;
	}
	.auth-container {
		display: block;
		height: auto;
	}
}